#root {
  margin: 0;
  text-align: center;
  height: 100%;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.App{
  height: 100%;
}

/*------------------------------Input page---------------------*/



.input-container{
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  
}
.input {
  display: flex;
  flex-direction: column;
  color:  black;
  text-decoration: double;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: bolder;
font-family: 'Courier New', Courier, monospace;
height: 80%;
background-image: url('/src/assets/pokedex.jpg');
background-size: cover;
gap: 60%;
width: 80%;
box-shadow: 20px 20px 30px red;
border-radius: 10%;
opacity: 1;
max-width: 700px;
}


.input-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
}

.input-name {
  font-family: 'Courier New', Courier, monospace;

}

input {
  color: azure;
  width: 20rem;
  height: 50px;
  background-color: rgb(10, 10, 10);
  opacity: 0.75;
  border: none;
}
.button-send{
  width: 2rem;
  height: 50px;
  color: aliceblue;
  background-color: rgb(4, 99, 11);
  border: none;
  opacity: 0.75;
  font-size: large;
  border-radius: 10%;

}

/*--------------------pokemondetails-------------------------------*/

.video{
  position: fixed;
  width: 100%;
  height: 100vh;
  opacity: 1;
  margin: auto;
  padding: 0;
  


}
.principal-container-details{
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: x-large;
  color :navy;
  text-decoration: wavy;
  background-image: url('./assets/pokemon-in-the-wild.png');
  
  background-size: cover;
  /* background-color: darkgoldenrod; */
  
  
}
.detail-container{
  display: flex;
  flex-direction: column;
  width: 80%;

  
}
.logo-container{
  width: 25%;
  height: auto;
  z-index: 2;
}
.logo-container>img{
  width: 100%;
  height: 100%;
}
.principal-info-container{
  display: flex;
  flex-direction: column;
  border: 3px solid orange;
  margin: 2rem;
  padding: 2rem;
  background-color: aquamarine;
  opacity: 0.7

}
.principal-info-container:hover{
  transition: 1s;
  opacity: 1;
}
.principal-info-container>img{
  position: relative;
  top: -40%;
  left: 40%;
  width: 400px;
  opacity: 1;
}
.info-detail{
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: -10%;
  letter-spacing: 2px;

}
.name-id{
  text-transform: capitalize;
  text-decoration: solid;
  font-size: x-large;
}
.movements-container{
  
  display: flex;
  flex-direction: column;
  
  gap: 1rem;
  list-style: none;
  margin-top: 15%;
  z-index: 2;
  

  
}

.movements-detail {
  background-color: aquamarine;
  height: 450px;
  overflow: hidden;
  overflow-y: scroll;
  
}

.movements-container:hover{
  transition: 1s;
  opacity: 1;

}
.movements-container>li{
  height: 30px;
  width: 80%;
  border: 1px solid green;
  margin: auto;
}
.tyab-container{
  display: flex;
  width: 80%;
  text-align: center;
  justify-content: center;
  gap: 50%;
  border: 2px solid orange;
  margin: 2rem;
  background-color: darkcyan;
  opacity: 0.8;
  height: 15%;
align-items: center;}

.tyab-container:hover{
  cursor: pointer;
  opacity: 1;
}
.type-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.abilities-container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.stats-container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  height: 600px;
  align-items: center;
  justify-content: center;
  background-color: darkcyan;
  opacity: 0.75;
  margin: 2rem;
}
.stats-container:hover{
  cursor: pointer;
  opacity: 1;
  
}
.stat-info{
  display: flex;
  justify-content: space-between;
  width: 90%;
  gap: 20%;
}
.stat-info>label{
  color: black;

}
.stat-info>div{
  border: 2px solid olive;
  border-radius: 10px;
width: 50%; 
}
